*{
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', sans-serif;
    box-sizing:border-box; 

}
.background{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(160deg, #0093E9,#8469EF,#6E23DB);
    padding: 10px;
}
.whitebox{
    width: 100%;
    max-width: 700px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px; /*round edges*/
    display: flexbox;
}
.whitebox h1{
    display: flex;
    margin-left: 90px;
    align-items: center;
    margin-bottom: 5px;
}

.whitebox h1 img{
    width: 150px;
    margin-left: 2px;
}

.whitebox hr{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 2px;
    margin-top: none;
    margin-bottom:30px ;
    border-color: black;
    background-color: black;
}
.row{
    display:flex;
    align-items:center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
    font-weight: 20px;
    font-display: #fff;
    margin-left: 185px;
    margin-right: 125px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px 16px;
    background: #8469EF;
    color: #fff;
    font-size: 16px;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-left: 225px;
}
ul li{
    list-style: none;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    font-size: 17px;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 60%;
    background-image: url(uncheck.jpg);
    background-size: cover;
    background-position: center;
    top: 12px;
    left:8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(pcheck.png);
}

